openapi: 3.1.0
info:
  contact:
    email: info@stackql.io
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
  description: Train high-quality custom machine learning models with minimal machine
    learning expertise and effort.
  title: Vertex AI API
  version: v1
  x-discovery-doc-revision: "20240907"
  x-generated-date: 2024-09-19
externalDocs:
  url: https://cloud.google.com/vertex-ai/
servers:
- url: https://aiplatform.googleapis.com
paths:
  /v1/datasets:
    get:
      description: Lists Datasets in a Location.
      operationId: aiplatform.datasets.list
      parameters:
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: parent
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: readMask
        required: false
        schema:
          format: google-fieldmask
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ListDatasetsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    post:
      description: Creates a Dataset.
      operationId: aiplatform.datasets.create
      parameters:
      - explode: true
        in: query
        name: parent
        required: false
        schema:
          type: string
        style: form
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1Dataset'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/datasets/{datasetsId}:
    delete:
      description: Deletes a Dataset.
      operationId: aiplatform.datasets.delete
      parameters:
      - explode: false
        in: path
        name: datasetsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    get:
      description: Gets a Dataset.
      operationId: aiplatform.datasets.get
      parameters:
      - explode: false
        in: path
        name: datasetsId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: readMask
        required: false
        schema:
          format: google-fieldmask
          type: string
        style: form
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1Dataset'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    patch:
      description: Updates a Dataset.
      operationId: aiplatform.datasets.patch
      parameters:
      - explode: false
        in: path
        name: datasetsId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: updateMask
        required: false
        schema:
          format: google-fieldmask
          type: string
        style: form
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1Dataset'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1Dataset'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/datasets/{datasetsId}/datasetVersions/{datasetVersionsId}:
    delete:
      description: Deletes a Dataset version.
      operationId: aiplatform.datasets.datasetVersions.delete
      parameters:
      - explode: false
        in: path
        name: datasetsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: datasetVersionsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    get:
      description: Gets a Dataset version.
      operationId: aiplatform.datasets.datasetVersions.get
      parameters:
      - explode: false
        in: path
        name: datasetsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: datasetVersionsId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: readMask
        required: false
        schema:
          format: google-fieldmask
          type: string
        style: form
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1DatasetVersion'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    patch:
      description: Updates a DatasetVersion.
      operationId: aiplatform.datasets.datasetVersions.patch
      parameters:
      - explode: false
        in: path
        name: datasetsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: datasetVersionsId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: updateMask
        required: false
        schema:
          format: google-fieldmask
          type: string
        style: form
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1DatasetVersion'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1DatasetVersion'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/datasets/{datasetsId}/datasetVersions:
    get:
      description: Lists DatasetVersions in a Dataset.
      operationId: aiplatform.datasets.datasetVersions.list
      parameters:
      - explode: false
        in: path
        name: datasetsId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: readMask
        required: false
        schema:
          format: google-fieldmask
          type: string
        style: form
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ListDatasetVersionsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    post:
      description: Create a version from a Dataset.
      operationId: aiplatform.datasets.datasetVersions.create
      parameters:
      - explode: false
        in: path
        name: datasetsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1DatasetVersion'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/datasets/{datasetsId}/datasetVersions/{datasetVersionsId}:restore:
    get:
      description: Restores a dataset version.
      operationId: aiplatform.datasets.datasetVersions.restore
      parameters:
      - explode: false
        in: path
        name: datasetsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: datasetVersionsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
  /v1/publishers/{publishersId}/models/{modelsId}:streamGenerateContent:
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    post:
      description: Generate content with multimodal inputs with streaming support.
      operationId: aiplatform.publishers.models.streamGenerateContent
      parameters:
      - explode: false
        in: path
        name: publishersId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1GenerateContentRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1GenerateContentResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/publishers/{publishersId}/models/{modelsId}:generateContent:
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    post:
      description: Generate content with multimodal inputs.
      operationId: aiplatform.publishers.models.generateContent
      parameters:
      - explode: false
        in: path
        name: publishersId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1GenerateContentRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1GenerateContentResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/publishers/{publishersId}/models/{modelsId}:countTokens:
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    post:
      description: Perform a token counting.
      operationId: aiplatform.publishers.models.countTokens
      parameters:
      - explode: false
        in: path
        name: publishersId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1CountTokensRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1CountTokensResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/publishers/{publishersId}/models/{modelsId}:computeTokens:
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    post:
      description: Return a list of tokens based on the input text.
      operationId: aiplatform.publishers.models.computeTokens
      parameters:
      - explode: false
        in: path
        name: publishersId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1ComputeTokensRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ComputeTokensResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/publishers/{publishersId}/models/{modelsId}:
    get:
      description: Gets a Model Garden publisher model.
      operationId: aiplatform.publishers.models.get
      parameters:
      - explode: false
        in: path
        name: publishersId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: view
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: languageCode
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: isHuggingFaceModel
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: huggingFaceToken
        required: false
        schema:
          type: string
        style: form
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1PublisherModel'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
  /v1/endpoints/{endpointsId}:streamGenerateContent:
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    post:
      description: Generate content with multimodal inputs with streaming support.
      operationId: aiplatform.endpoints.streamGenerateContent
      parameters:
      - explode: false
        in: path
        name: endpointsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1GenerateContentRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1GenerateContentResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/endpoints/{endpointsId}:countTokens:
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    post:
      description: Perform a token counting.
      operationId: aiplatform.endpoints.countTokens
      parameters:
      - explode: false
        in: path
        name: endpointsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1CountTokensRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1CountTokensResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/endpoints/{endpointsId}:computeTokens:
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    post:
      description: Return a list of tokens based on the input text.
      operationId: aiplatform.endpoints.computeTokens
      parameters:
      - explode: false
        in: path
        name: endpointsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1ComputeTokensRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ComputeTokensResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/endpoints/{endpointsId}:generateContent:
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    post:
      description: Generate content with multimodal inputs.
      operationId: aiplatform.endpoints.generateContent
      parameters:
      - explode: false
        in: path
        name: endpointsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1GenerateContentRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1GenerateContentResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}/evaluations/{evaluationsId}/slices/{slicesId}:
    get:
      description: Gets a ModelEvaluationSlice.
      operationId: aiplatform.projects.locations.models.evaluations.slices.get
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: evaluationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: slicesId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ModelEvaluationSlice'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
  /v1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}/evaluations/{evaluationsId}/slices:
    get:
      description: Lists ModelEvaluationSlices in a ModelEvaluation.
      operationId: aiplatform.projects.locations.models.evaluations.slices.list
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: evaluationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: readMask
        required: false
        schema:
          format: google-fieldmask
          type: string
        style: form
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ListModelEvaluationSlicesResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
  /v1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}/evaluations/{evaluationsId}/slices/{slicesId}:batchImport:
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    post:
      description: Imports a list of externally generated EvaluatedAnnotations.
      operationId: aiplatform.projects.locations.models.evaluations.slices.batchImport
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: evaluationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: slicesId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1BatchImportEvaluatedAnnotationsRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1BatchImportEvaluatedAnnotationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}/evaluations/{evaluationsId}/operations/{operationsId}:
    delete:
      description: "Deletes a long-running operation. This method indicates that the\
        \ client is no longer interested in the operation result. It does not cancel\
        \ the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      operationId: aiplatform.projects.locations.models.evaluations.operations.delete
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: evaluationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: operationsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    get:
      description: Gets the latest state of a long-running operation. Clients can
        use this method to poll the operation result at intervals as recommended by
        the API service.
      operationId: aiplatform.projects.locations.models.evaluations.operations.get
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: evaluationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: operationsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
  /v1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}/evaluations/{evaluationsId}/operations/{operationsId}:wait:
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    post:
      description: "Waits until the specified long-running operation is done or reaches\
        \ at most a specified timeout, returning the latest state. If the operation\
        \ is already done, the latest state is immediately returned. If the timeout\
        \ specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout\
        \ is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.\
        \ Note that this method is on a best-effort basis. It may return the latest\
        \ state before the specified timeout (including immediately), meaning even\
        \ an immediate response is no guarantee that the operation is done."
      operationId: aiplatform.projects.locations.models.evaluations.operations.wait
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: evaluationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: operationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: timeout
        required: false
        schema:
          format: google-duration
          type: string
        style: form
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
  /v1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}/evaluations/{evaluationsId}/operations:
    get:
      description: "Lists operations that match the specified filter in the request.\
        \ If the server doesn't support this method, it returns `UNIMPLEMENTED`."
      operationId: aiplatform.projects.locations.models.evaluations.operations.list
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: evaluationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningListOperationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
  ? /v1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}/evaluations/{evaluationsId}/operations/{operationsId}:cancel
  : parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    post:
      description: "Starts asynchronous cancellation on a long-running operation.\
        \ The server makes a best effort to cancel the operation, but success is not\
        \ guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.\
        \ Clients can use Operations.GetOperation or other methods to check whether\
        \ the cancellation succeeded or whether the operation completed despite cancellation.\
        \ On successful cancellation, the operation is not deleted; instead, it becomes\
        \ an operation with an Operation.error value with a google.rpc.Status.code\
        \ of 1, corresponding to `Code.CANCELLED`."
      operationId: aiplatform.projects.locations.models.evaluations.operations.cancel
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: evaluationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: operationsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
  /v1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}/evaluations/{evaluationsId}:
    get:
      description: Gets a ModelEvaluation.
      operationId: aiplatform.projects.locations.models.evaluations.get
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: evaluationsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ModelEvaluation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
  /v1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}/evaluations:
    get:
      description: Lists ModelEvaluations in a Model.
      operationId: aiplatform.projects.locations.models.evaluations.list
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: readMask
        required: false
        schema:
          format: google-fieldmask
          type: string
        style: form
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ListModelEvaluationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
  /v1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}/evaluations:import:
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    post:
      description: Imports an externally generated ModelEvaluation.
      operationId: aiplatform.projects.locations.models.evaluations.import
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1ImportModelEvaluationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ModelEvaluation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}/operations/{operationsId}:cancel:
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    post:
      description: "Starts asynchronous cancellation on a long-running operation.\
        \ The server makes a best effort to cancel the operation, but success is not\
        \ guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.\
        \ Clients can use Operations.GetOperation or other methods to check whether\
        \ the cancellation succeeded or whether the operation completed despite cancellation.\
        \ On successful cancellation, the operation is not deleted; instead, it becomes\
        \ an operation with an Operation.error value with a google.rpc.Status.code\
        \ of 1, corresponding to `Code.CANCELLED`."
      operationId: aiplatform.projects.locations.models.operations.cancel
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: operationsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
  /v1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}/operations/{operationsId}:
    delete:
      description: "Deletes a long-running operation. This method indicates that the\
        \ client is no longer interested in the operation result. It does not cancel\
        \ the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
      operationId: aiplatform.projects.locations.models.operations.delete
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: operationsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    get:
      description: Gets the latest state of a long-running operation. Clients can
        use this method to poll the operation result at intervals as recommended by
        the API service.
      operationId: aiplatform.projects.locations.models.operations.get
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: operationsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
  /v1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}/operations:
    get:
      description: "Lists operations that match the specified filter in the request.\
        \ If the server doesn't support this method, it returns `UNIMPLEMENTED`."
      operationId: aiplatform.projects.locations.models.operations.list
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningListOperationsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
  /v1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}/operations/{operationsId}:wait:
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    post:
      description: "Waits until the specified long-running operation is done or reaches\
        \ at most a specified timeout, returning the latest state. If the operation\
        \ is already done, the latest state is immediately returned. If the timeout\
        \ specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout\
        \ is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.\
        \ Note that this method is on a best-effort basis. It may return the latest\
        \ state before the specified timeout (including immediately), meaning even\
        \ an immediate response is no guarantee that the operation is done."
      operationId: aiplatform.projects.locations.models.operations.wait
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: operationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: timeout
        required: false
        schema:
          format: google-duration
          type: string
        style: form
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
  /v1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}:mergeVersionAliases:
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    post:
      description: Merges a set of aliases for a Model version.
      operationId: aiplatform.projects.locations.models.mergeVersionAliases
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1MergeVersionAliasesRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1Model'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/projects/{projectsId}/locations/{locationsId}/models:upload:
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    post:
      description: Uploads a Model artifact into Vertex AI.
      operationId: aiplatform.projects.locations.models.upload
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1UploadModelRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}:export:
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
    post:
      description: "Exports a trained, exportable Model to a location specified by\
        \ the user. A Model is considered to be exportable if it has at least one\
        \ supported export format."
      operationId: aiplatform.projects.locations.models.export
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudAiplatformV1ExportModelRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}:deleteVersion:
    delete:
      description: Deletes a Model version. Model version can only be deleted if there
        are no DeployedModels created from it. Deleting the only version in the Model
        is not allowed. Use DeleteModel for deleting the Model instead.
      operationId: aiplatform.projects.locations.models.deleteVersion
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
  /v1/projects/{projectsId}/locations/{locationsId}/models:
    get:
      description: Lists Models in a Location.
      operationId: aiplatform.projects.locations.models.list
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: readMask
        required: false
        schema:
          format: google-fieldmask
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: orderBy
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudAiplatformV1ListModelsResponse'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    parameters:
    - $ref: '#/components/parameters/upload_protocol'
    - $ref: '#/components/parameters/oauth_token'
    - $ref: '#/components/parameters/prettyPrint'
    - $ref: '#/components/parameters/key'
    - $ref: '#/components/parameters/fields'
    - $ref: '#/components/parameters/alt'
    - $ref: '#/components/parameters/uploadType'
    - $ref: '#/components/parameters/access_token'
    - $ref: '#/components/parameters/quotaUser'
    - $ref: '#/components/parameters/callback'
    - $ref: '#/components/parameters/_.xgafv'
  /v1/projects/{projectsId}/locations/{locationsId}/models/{modelsId}:
    delete:
      description: Deletes a Model. A model cannot be deleted if any Endpoint resource
        has a DeployedModel based on the model in its deployed_models field.
      operationId: aiplatform.projects.locations.models.delete
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
        required: true
        schema:
          type: string
        style: simple
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/_.xgafv'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        Oauth2c:
        - https://www.googleapis.com/auth/cloud-platform
      x-accepts:
      - application/json
    get:
      description: Gets a Model.
      operationId: aiplatform.projects.locations.models.get
      parameters:
      - explode: false
        in: path
        name: projectsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: locationsId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: modelsId
[...]
